html, body {
  height: 100%;
}

.top-margin {
  margin-top: 12%;
}

#content {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

#weather-info {
  width: 400px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-family: 'Tulpen One', cursive;
  border-radius: 5%;
  border: none;
  background-color: rgba(252, 252, 252, 0.5);
  text-align: center;
}

#temp-img {
  width: 220px;
  height: 220px;
  vertical-align: middle;
}

#temperature, #temp-unit {
  font-size: 8em;
  color: #000;
  vertical-align:middle
}

#temp-location {
  font-size: 4em;
  text-align: center;
  background-color: transparent;
  border: none;
}
